:root {
    --dots-and-boxes--Board-line-size: 0vw; /* dynamically set */
}

.DotsAndBoxesApp .Board {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    padding: 30px;
    box-sizing: border-box;
}

.DotsAndBoxesApp .Board-BoardRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.DotsAndBoxesApp .Board-BoardRow.vertical {
    height: 100%;
    align-items: center;
}

.DotsAndBoxesApp .Board.turn-player-blue .SelectableLine.selectable:hover .SelectableLine-Bar {
    background-color: var(--dots-and-boxes--color-blue-player-line);
}
.DotsAndBoxesApp .Board.turn-player-red .SelectableLine.selectable:hover .SelectableLine-Bar {
    background-color: var(--dots-and-boxes--color-red-player-line);
}
