.InfoBar {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.DotsAndBoxesApp .InfoBar-Player {
    font-size: 3vw;
    width: 30%;
    border: none;
    text-align: center;
}
.DotsAndBoxesApp .InfoBar-Player.player-blue {
    color: var(--dots-and-boxes--color-blue-player-box);
}
.DotsAndBoxesApp .InfoBar-Player.player-red {
    color: var(--dots-and-boxes--color-red-player-box);
}

.DotsAndBoxesApp .InfoBar-Score {
    width: 10%;
    text-align: center;
    font-size: 4.5vw;
}
.DotsAndBoxesApp .InfoBar-Score.player-blue {
    color: var(--dots-and-boxes--color-blue-player-box);
}
.DotsAndBoxesApp .InfoBar-Score.player-red {
    color: var(--dots-and-boxes--color-red-player-box);
}

.DotsAndBoxesApp .InfoBar-Turn {
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    visibility: hidden;
}
.DotsAndBoxesApp .InfoBar-Turn.active {
    visibility: visible;
}
.DotsAndBoxesApp .InfoBar-Turn.player-blue {
    background-color: var(--dots-and-boxes--color-blue-player-box);
}
.DotsAndBoxesApp .InfoBar-Turn.player-red {
    background-color: var(--dots-and-boxes--color-red-player-box);
}