:root {
    --l-game--Game-main-dimension: min(90vw, 80vh);
}

.TicTacToeApp .Game {
    position: relative;
    width: var(--l-game--Game-main-dimension);
    height: var(--l-game--Game-main-dimension);
}

.TicTacToeApp .Game-GameOver {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: var(--l-game--Game-main-dimension);
    height: var(--l-game--Game-main-dimension);
    background-color: var(--l-game--color-deep-black-trans);
    color: var(--l-game--color-soft-white);
    font-size: calc(0.1 * var(--l-game--Game-main-dimension));
}

.TicTacToeApp .Game-GameOver button {
    margin-top: calc(0.1 * var(--l-game--Game-main-dimension));
    padding: calc(0.02 * var(--l-game--Game-main-dimension));
    border: calc(0.01 * var(--l-game--Game-main-dimension)) solid;
    border-color: var(--l-game--color-space-gray);
    border-radius: calc(0.05 * var(--l-game--Game-main-dimension));
    box-sizing: border-box;
    background-color: var(--l-game--color-space-gray);
    color: var(--l-game--color-soft-white);
    font-size: calc(0.07 * var(--l-game--Game-main-dimension));
}

.TicTacToeApp .Game-GameOver button:hover {
    border-color: var(--l-game--color-soft-white);
}

.TicTacToeApp .Game-GameOver button:active {
    border-color: var(--l-game--color-space-gray);
    background-color: var(--l-game--color-deep-black);
    color: var(--l-game--color-space-gray);
}
