.AppHeader-TopBar {
    display: flex;
    flex-flow: row nowrap;
}

.AppHeader-Spacer {
    width: 50px;
}

.AppHeader-HomeLink {
    width: 120px;
}

.AppHeader-DocViewer {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 30px;
    background-color: rgba(var(--color-shadow-black), 0.95);
}
.AppHeader-DocViewerBottomSpacer {
    height: 100vh;
}

.AppHeader-DocViewer.hidden {
    display: none;
}

.AppHeader-DocViewer button {
    padding: 0px;
    border: 1px solid rgb(var(--color-soft-white));
    width: 30px;
    height: 30px;
    border-radius: 0px;
    color: rgb(var(--color-soft-white));
    background-color: rgba(0, 0, 0, 0);
}
.AppHeader-DocViewer button:hover {
    padding: 0px;
    border-width: 1px;
    opacity: 70%;
}
.AppHeader-DocViewer button:active {
    padding: 0px;
    border-width: 1px;
    opacity: 30%;
}

.AppHeader-DocViewer pre {
    color: rgb(var(--color-soft-white));
    background-color: rgba(0, 0, 0, 0);
}
