.Link {
    position: relative;
}

.Link * {
    color: rgb(var(--color-ink-blue));
}

.Link a {
    letter-spacing: 0.035em;
}
.Link:hover a {
    font-weight: bolder;
    letter-spacing: 0em;
}
.Link:active a {
    background-color: rgba(var(--color-shadow-black), 0.4);
}
