:root {
    --l-game--BoardSquare-border-size: calc(0.01 * var(--l-game--Game-main-dimension));
    --l-game--Board-extra-padding: calc(0.01 * var(--l-game--Game-main-dimension));

    --l-game--BoardSquare-overlap-compensation: calc(-0.5 * var(--l-game--BoardSquare-border-size));
    --l-game--Board-neg-margin-compensation: var(--l-game--BoardSquare-border-size);
    --l-game--Board-total-padding: calc(var(--l-game--Board-extra-padding) + var(--l-game--Board-neg-margin-compensation));
}

.LGameApp .Board {
    position: absolute;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--l-game--Board-total-padding);
    width: 100%;
    height: 100%;
}

.LGameApp .Board * {
    user-select: none;
}

.LGameApp .Board-Row {
    display: flex;
    flex-flow: row nowrap;
}

.LGameApp .BoardSquare {
    margin: var(--l-game--BoardSquare-overlap-compensation);
    width: calc(0.25 * var(--l-game--Game-main-dimension));
    height: calc(0.25 * var(--l-game--Game-main-dimension));
    box-sizing: border-box;
    border: var(--l-game--BoardSquare-border-size) solid;
}

.LGameApp .BoardSquare.selected::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--l-game--color-deep-black);
    opacity: 36%;
}
.LGameApp .Board.player-blue.mode-player .BoardSquare.selected::after {
    background-color: var(--l-game--color-blue-player);
}
.LGameApp .Board.player-red.mode-player .BoardSquare.selected::after {
    background-color: var(--l-game--color-red-player);
}

.LGameApp .Board-Skip-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(0.04 * var(--l-game--Game-main-dimension));
    width: calc(var(--l-game--Game-main-dimension) - 2*var(--l-game--Board-total-padding));
    box-sizing: border-box;
}

.LGameApp .Board-Skip {
    position: relative;
    opacity: 50%;
    width: calc(0.20 * var(--l-game--Game-main-dimension));
    padding: calc(0.015 * var(--l-game--Game-main-dimension));
    border: none;
    border-radius: calc(0.02 * var(--l-game--Game-main-dimension));
    font-size: calc(0.04 * var(--l-game--Game-main-dimension));
}
.LGameApp .Board-Skip.hidden {
    visibility: hidden;
}

.LGameApp .Board.player-blue .Board-Skip {
    background-color: var(--l-game--color-blue-player);
}
.LGameApp .Board.player-red .Board-Skip {
    background-color: var(--l-game--color-red-player);
}
.LGameApp .Board .Board-Skip:hover {
    opacity: 80%;
}
.LGameApp .Board .Board-Skip:active {
    background-color: var(--l-game--color-space-gray);
}

.LGameApp .Board-Skip::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: calc(0.005 * var(--l-game--Game-main-dimension)) solid;
    border-radius: calc(0.02 * var(--l-game--Game-main-dimension));
    opacity: 60%;
}
