.LGameApp {
    --l-game--color-soft-white: #f1f6ff;
    --l-game--color-space-gray: #6f7381;
    --l-game--color-deep-black: #232323;
    --l-game--color-deep-black-trans: #232323cc;
    --l-game--color-red-player: #fa2727;
    --l-game--color-blue-player: #1e6dff;
}
