.time {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
.time-2 {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
