:root {
    --color-soft-white: 230, 230, 230;
    --color-space-gray: 30, 40, 50;
    --color-shadow-black: 20, 24, 35;
    --color-accent-blue: 195, 220, 250;
    --color-ink-blue: 30, 35, 200;
}

body {
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: pre-wrap;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-size: 80%;
    background-color: rgba(var(--color-shadow-black), 0.2);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: rgba(var(--color-shadow-black), 0.2);
}
pre code {
    display: block;
    word-wrap: normal;
    background-color: rgba(0, 0, 0, 0);
}

p {
    line-height: 150%;
}

button {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(var(--color-shadow-black));
    border-radius: 30px;
    background-color: rgb(var(--color-accent-blue));
    font-size: 110%;
}
button:hover {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 4px;
}
button:active {
    filter: brightness(50%);
}
